.item {
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.item button {
  border: none;
  background-color: transparent;
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.del:hover {
  cursor: pointer;
}
